body{
    background-color: rgb(192, 255, 193);
}
.pagina{
    background-image: url('Icebox_Splash_v2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    text-align: center;
}
#fotos{
    width: 100%;
    height: auto;
}

.pagina h1 img{
      width: 40%;
      height: 250px ;
      float: left; 
      color: brown;
      left: 0;
      text-align: center;
      top: 0;    
      position: relative;
      overflow: auto;
}

.pagina h2 img{
    width: 20%;
    height: 150px ;
    float: left;     
}